.container-nosotros-info{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    padding: 5px 0;
}

.container-sobre-nosotros{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 20px;

    .articulo-nosotros{
        display: flex;
        flex-direction: column;
        gap: 5px;

        .titulo-nosotros{
            font-family: var(--fuente-titulos);
            font-size: min(8vw, 1.8rem);
        }
        .parrafo-nosotros{
            font-family: var(--fuente-textos);
            font-size: min(5vw, 1.2rem);
        }
    }
}

.container-nosotros-info figure{
    width: 100%;
    height: 400px;
    display: flex;

    .img-quienes-somos{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

@media screen and (min-width: 900px){
    .container-nosotros-info{
        display: flex;
        flex-direction: row;
        width: 95%;
        padding: 0px 0;
        gap: 60px;

    }
    .container-sobre-nosotros{
        width: 70%;
    }
    .container-nosotros-info:has(figure) figure{
        width: 100%;
        height: 400px;
        display: flex;
        margin: auto;
    }
}

@media screen and (min-width: 1024px){
    .container-nosotros-info{
        width: 100%;
    }
}




